.form {
    &__footer{
        box-sizing: border-box;
        background-color: var(--color-formFooter);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
}