.restaurant{
&__name-text {
    box-sizing: border-box;
    text-align: center;
    height: auto;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font: 400 1.5rem var(--font-family);
    color: var(--color-text-title);

    @media screen and (min-width: 767.8px) {
      font-size: 2.25rem;
      text-align: justify;
      width: 340px;
  }

  @media screen and (min-width: 1123.8px) {
    width: 330px;
  }
  }
}