.signup {
    &__select{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 0 10px;
        height: 40px;
        width: 100%;
        max-width: 375px;
        background-color: white;
        font: 400 0.8125rem var(--font-family);
        border-radius: 10px;
        border: 1px solid gray;
        -webkit-appearance: none;

        &:focus{
            border: 1px solid #09C;
        }
   
    }
}