
.menu {
&__item-link {
    text-decoration: none;
    margin-right: 37px;
    font: 400 1rem var(--font-family);
    color: var(--color-text-subtitle);
  }
}

@import "./_active/menu__item-link_active.scss";