.footer {
&__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 580px;
    position: relative;

    @media screen and (max-width: 459.8px) {
       flex-wrap: wrap;
       max-width: 200px;
    }

    @media screen and (min-width: 767.8px)  {
      align-items: baseline;
      margin-top: 65px;
    }

    @media screen and (min-width: 1123.8px) {
      max-width: 715px;
    }
  }
}