.form {
    &__text > a{
        font: 400 0.9rem var(--color-text-title);
        text-decoration: none;
        color: var(--color-textForgetPsd);
    }
    &__text {
        font: 400 0.9rem var(--color-text-title);
        color: var(--color-text-title);
    }
}