.actions {
    &__basket {
        filter: var(--filter);
        
        @media screen and (min-width: 1123.8px) {
            margin-right: 15px;
        }

        @media screen and (max-width: 459.8px) {
            position: relative;
            margin-left: 7px;
    }
    }
}