.form{
    &__close{
        position: absolute;
        top: 16px;
        right: 16px;
        transform: scale(3);
        width: 1rem;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 3px 0 0;
        &:hover{
            background-color: rgba(128, 128, 128, 0.5);
            cursor: pointer;
        }
    }
}