@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  --color-bg: #FFFFFF;
  --color-bgReverse: #262626;
  --color-btnUp: #57AD56;
  --color-logo: #235c20;
  --color-text-title: #1D1D1D;
  --color-text-subtitle: #626262;
  --color-textBtn: #FFFFFF;
  --color-switch: #fede40;
  --color-border: #E0E0E0;
  --color-hover-bg: #1D1D1D;
  --color-hover-text: #FFFFFF;
  --color-btnClose: #1D1D1D;
  --color-formFooter: rgba(128, 128, 128, 0.5);
  --color-msgBg: rgba(128,128,128,0.2);
  --color-bgGoogle: #dd4b39;
  --color-bgTwitter: #55acee;
  --color-bgVK: #3b5998;
  --color-focus: #00A3D9;
  --color-btnSubmit: #59bd5a;
  --color-shadow: #E0E0E0;
  --color-textForgetPsd: blue;
  --color-textFooter: #FFFFFF;
  --color-line: rgba(128, 128, 128);
  --color-textplaceholder: #979797;
  --filter: none;
  --font-family: "Roboto", sans-serif;
}
body.dark-theme {
  --color-bg: #262626;
  --color-logo: #54d64d;
  --color-bgReverse: #FFFFFF;
  --color-text-title: #FFFFFF;
  --color-text-subtitle: #FFFFFF;
  --color-textBtn: #1D1D1D;
  --color-switch: #F7EAC6;
  --color-border: #FFFFFF;
  --color-hover-bg: #FFFFFF;
  --color-hover-text: #1D1D1D;
  --filter: invert(1) contrast(2);
  --color-btnClose: #FFFFFF;
  --color-textForgetPsd: #FFFFFF;
  --color-textplaceholder: #FFFFFF;
  --color-shadow: #3a3a3a;
  --color-msgBg: #FFFFFF;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 15px;
}

.form {
  position: relative;
  padding: 15px 0 0 0;
  border-radius: 10px;
  background-color: var(--color-bg);
  margin: 0 auto;
  border: 1px solid var(--color-border);
  width: 90%;
  max-width: 500px;
  height: auto;
}

.form__icon_left {
  position: absolute;
  z-index: 1;
  left: 10px;
  bottom: 13px;
  color: #000;
}

.form__icon_right {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: 4px;
  bottom: 19px;
  width: 30px;
  height: 30px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transform: scale(1.2);
  color: #000;
}

.form__container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px 20px;
}

.form__close {
  border: none;
  position: absolute;
  top: 16px;
  right: 16px;
  transform: scale(3);
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 3px 0 0;
  color: var(--color-btnClose);
  background-color: var(--color-bg);
}
.form__close:hover {
  cursor: pointer;
}

.form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form__list-item {
  position: relative;
}
.form__list-item:nth-child(2) {
  position: relative;
}
.form__list-item:nth-child(3) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.form__label {
  font: 700 1rem var(--font-family);
  color: var(--color-text-title);
}

.form__input {
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-top: 5px;
  padding-left: 5px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
}
.form__input::placeholder {
  font: 400 0.9rem var(--font-family);
  color: var(--color-text-subtitle);
}
.form__input:focus {
  border: 1px solid var(--color-focus);
}

.form__submit {
  position: relative;
  font: 400 0.9rem var(--font-family);
  color: var(--color-textBtn);
  display: block;
  box-sizing: border-box;
  background-color: var(--color-btnSubmit);
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 30px 0;
  border-radius: 5px;
  border: none;
}
.form__submit:hover {
  cursor: pointer;
  opacity: 0.8;
}
.form__submit:after {
  position: absolute;
  content: "";
  bottom: -20px;
  width: 100%;
  height: 1px;
  color: var(--color-line);
  background-color: var(--color-line);
}

.form__footer {
  box-sizing: border-box;
  background-color: var(--color-formFooter);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.form__registr {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #ffffff;
  font: 500 0.9rem var(--font-family);
  color: var(--color-textBtn);
  box-sizing: border-box;
  background-color: var(--color-bgGoogle);
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
}
.form__registr:hover {
  background-color: #59bd5a;
  cursor: pointer;
}

.form__text > a {
  font: 400 0.9rem var(--color-text-title);
  text-decoration: none;
  color: var(--color-textForgetPsd);
}
.form__text {
  font: 400 0.9rem var(--color-text-title);
  color: var(--color-text-title);
}

.form__quest {
  font: 500 0.9rem var(--font-family);
  color: var(--color-text-title);
}

.form__tosignup {
  text-decoration: none;
  color: #ffffff;
}

.socialmedia {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.socialmedia:before {
  position: absolute;
  content: "ИЛИ";
  font: 400 1rem var(--font-family);
  color: var(--color-text-subtitle);
  top: -30px;
  background-color: var(--color-bg);
  width: 50px;
  text-align: center;
}

.socialmedia__item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 0.9rem var(--color-textBtn);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  flex-basis: 30%;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}
.socialmedia__item:first-child {
  background-color: var(--color-bgVK);
}
.socialmedia__item:nth-child(2) {
  background-color: var(--color-bgTwitter);
}
.socialmedia__item:last-child {
  background-color: var(--color-bgGoogle);
}
.socialmedia__item:hover {
  opacity: 0.8;
}

.row {
  position: relative;
}

.header {
  height: 73px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: var(--color-bg);
  box-shadow: 0 5px 25px var(--color-shadow);
}

.header__container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding-right: 11px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 767.8px) {
  .header__container {
    padding: 0;
  }
}

.switch {
  box-sizing: border-box;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid var(--color-border);
  margin: 0 10px 0 0;
}

.switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch__checkbox:checked + .switch__slider::before {
  transform: translateX(20px);
}
.switch__checkbox:checked + .switch__slider::after {
  transform: translateX(54px);
}

.switch__slider {
  -webkit-appearance: none;
  position: absolute;
  background-color: var(--color-bg);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
}
.switch__slider::before, .switch__slider::after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  border-radius: 50%;
}
.switch__slider::after {
  height: 20px;
  left: -36px;
  bottom: 4px;
  background-color: var(--color-bg);
  border: none;
  transition: 0.1s;
}
.switch__slider::before {
  background-color: var(--color-switch);
  left: 5px;
  bottom: 5px;
  transition: 0.3s;
}

.logo {
  width: 107px;
}
.logo__svg {
  width: 100%;
  height: 15px;
}

.logo__text {
  font: 700 1rem var(--font-family);
  color: var(--color-text-title);
  text-decoration: none;
  display: inline-block;
  width: 125px;
  text-align: justify;
  letter-spacing: 2.2px;
  word-spacing: -2px;
}
.logo__text span {
  font-weight: 500;
  color: var(--color-logo);
  letter-spacing: 3px;
}
@media screen and (min-width: 1123.8px) {
  .logo__text {
    font-size: 1.1rem;
  }
}

.logo__link {
  text-decoration: none;
}

@media screen and (max-width: 766.8px) {
  .actions {
    max-width: 290px;
  }
}
@media screen and (min-width: 767.8px) {
  .actions {
    max-width: 320px;
  }
}
@media screen and (min-width: 1123.8px) {
  .actions {
    max-width: 310px;
    box-sizing: border-box;
  }
}

.actions__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 328px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.actions__signup-link {
  list-style-type: none;
  padding: 5px;
  text-decoration: none;
  font: 500 0.8125rem var(--font-family);
  color: var(--color-text-title);
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  padding: 11.5px 8px;
  margin-right: 10px;
}
.actions__signup-link:hover {
  color: var(--color-hover-text);
  background-color: var(--color-hover-bg);
  transition: 0.7s;
}

.actions__sign-in {
  box-sizing: border-box;
  width: 78px;
  height: 40px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 0;
}
.actions__sign-in:hover {
  background-color: var(--color-hover-bg);
  transition: 0.7s;
}

.actions__sign-in-text {
  font: 500 0.8125rem var(--font-family);
  color: var(--color-text-title);
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actions__sign-in-text:hover {
  color: var(--color-hover-text);
  transition: 0.7s;
}

.actions__basket {
  filter: var(--filter);
}
@media screen and (max-width: 766.8px) {
  .actions__basket {
    display: none;
  }
}
@media screen and (min-width: 1123.8px) {
  .actions__basket {
    margin-right: 15px;
  }
}

.search-form {
  margin: 128px 0 105px 0;
  padding: 0px;
}

.search-form__input {
  border-color: transparent transparent var(--color-border) transparent;
  border-width: 1px;
  border-radius: 0;
  width: 99%;
  -webkit-appearance: none;
  background-color: var(--color-bg);
  color: var(--color-text-subtitle);
}
.search-form__input:invalid {
  outline: 1px solid red;
}
.search-form__input:valid {
  outline: inherit;
}
.search-form__input::placeholder {
  font: 400 1rem var(--font-family);
  color: var(--color-text-subtitle);
  line-height: 24px;
  display: flex;
  align-items: center;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.search-form__list-item {
  color: rgb(151, 151, 151);
}

.main {
  background-color: var(--color-bg);
  flex: 1 1 100%;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 35px;
}
@media screen and (min-width: 1123.8px) {
  .main {
    padding-bottom: 67px;
  }
}

.title {
  display: flex;
  align-items: center;
  width: 300px;
}
.title__name {
  position: absolute;
  top: 195px;
  left: 5px;
  font: 400 1.375rem var(--font-family);
  color: var(--color-text-title);
  line-height: 0.64rem;
  position: absolute;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
  width: 90%;
}
@media screen and (max-width: 766.8px) {
  .list {
    flex-wrap: wrap;
    width: 75%;
  }
}
@media screen and (min-width: 1123.8px) {
  .list {
    width: 800px;
  }
}

.list__item {
  margin-top: -5px;
  margin-left: -5px;
  list-style-type: none;
}
@media screen and (min-width: 767.8px) {
  .list__item {
    margin-top: 15px;
  }
}

.list__link {
  font: 400 0.6875rem var(--font-family);
  color: var(--color-textFooter);
  line-height: 0.85rem;
}

.card__info {
  margin: 22px 0 34px 0;
}

.card__photo {
  width: 99%;
  padding: 0;
  margin: 0;
  height: 246px;
}
@media screen and (min-width: 767.8px) {
  .card__photo {
    width: 100%;
    height: 256px;
  }
}

.card__png {
  width: 100%;
  height: 100%;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}

.info__food {
  display: flex;
  align-items: center;
  height: 15px;
  color: var(--color-text-subtitle);
}

.info__food-currency {
  margin-right: 2px;
}

.info__food-text {
  font: 400 0.875rem var(--font-family);
  color: var(--color-text-subtitle);
  margin-left: 2px;
}

.info__restaurant {
  display: flex;
  align-items: center;
  height: 15px;
  margin-bottom: 1px;
  color: var(--color-text-title);
}

.info__restaurant-text {
  color: var(--color-text-title);
  font: 400 1rem var(--font-family);
}

.info__ruble-svg {
  margin-right: -3px;
  filter: var(--filter);
}

.info__time {
  display: flex;
  align-items: center;
  height: 15px;
}

.info__time-text {
  color: var(--color-text-title);
  font: 400 0.8125rem var(--font-family);
}

.footer {
  box-sizing: border-box;
  background-color: #262626;
}

.footer__container {
  padding-top: 55px;
  position: relative;
}
.footer__container:after {
  content: "";
  position: absolute;
  background-color: #626262;
  width: 96%;
  left: 2%;
  top: 116px;
  height: 1px;
}
@media screen and (min-width: 767.8px) {
  .footer__container:after {
    width: 100%;
    left: 0;
  }
}

.footer__item {
  margin-bottom: 24px;
  list-style-type: none;
}
@media screen and (min-width: 767.8px) {
  .footer__item {
    margin-bottom: 21px;
  }
}

.footer__list-ul {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 459.8px) {
  .footer__list-ul {
    margin: 33px 0 -32px 0;
  }
}

.footer__link {
  color: #fff;
  text-decoration: none;
  font: 400 0.8125rem var(--font-family);
  line-height: 0.86rem;
}
.footer__link:hover {
  border-bottom: 1px solid #FFF;
}

.footer__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 580px;
  position: relative;
}
@media screen and (max-width: 459.8px) {
  .footer__row {
    flex-wrap: wrap;
    max-width: 200px;
  }
}
@media screen and (min-width: 767.8px) {
  .footer__row {
    align-items: baseline;
    margin-top: 65px;
  }
}
@media screen and (min-width: 1123.8px) {
  .footer__row {
    max-width: 715px;
  }
}

@media screen and (min-width: 1123.8px) {
  .social {
    margin-top: 37px;
  }
}

.social__icons {
  margin-top: 16px;
  display: flex;
  max-width: 96px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.social__title {
  margin-top: 31px;
  font: 400 1rem var(--font-family);
  color: var(--color-textFooter);
}
.social__title:before {
  content: "#";
  color: #49a144;
}

.language {
  position: relative;
  width: 173px;
  height: 40px;
}
@media screen and (min-width: 1123.8px) {
  .language {
    width: 227px;
  }
}

.language__arrowDown {
  position: absolute;
  top: 10px;
  right: 5%;
}

.language__select {
  text-indent: 43px;
  padding-top: 2px;
  width: 100%;
  height: 100%;
  background-color: #3b3b3b;
  border: transparent;
  -webkit-appearance: none;
  cursor: pointer;
  font: 400 0.8125rem var(--font-family);
  color: var(--color-textFooter);
}

.language__world {
  position: absolute;
  top: 13px;
  left: 7%;
}

.shop {
  box-sizing: border-box;
  margin-top: 50px;
  padding-top: 7px;
  position: relative;
  height: 84px;
}
.shop:before {
  content: "";
  position: absolute;
  background-color: var(--color-line);
  color: var(--color-line);
  width: 100%;
  left: 0%;
  top: -17px;
  height: 1px;
}
.shop:after {
  content: "";
  position: absolute;
  background-color: var(--color-line);
  color: var(--color-line);
  width: 100%;
  bottom: -20px;
  height: 1px;
}

.shop__appstore {
  width: 108px;
  height: 36px;
}
@media screen and (min-width: 767.8px) {
  .shop__appstore {
    width: 120px;
  }
}

.shop__googleplay {
  margin-left: 25px;
  width: 124px;
  height: 36px;
}
@media screen and (min-width: 767.8px) {
  .shop__googleplay {
    width: 135px;
  }
}

.shop__png {
  width: 100%;
}

.shop__wrapper {
  height: 69px;
  display: flex;
  max-width: 270px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media screen and (min-width: 767.8px) {
  .shop__wrapper {
    max-width: 295px;
    margin-left: 32%;
  }
}
@media screen and (min-width: 1123.8px) {
  .shop__wrapper {
    margin-left: 35.2%;
  }
}

.infosite {
  position: relative;
  max-width: 100%;
}

.infosite__buttonup {
  width: 80px;
  height: 80px;
}

.infosite__pos {
  margin-left: 8px;
  margin-top: 35px;
}

.infosite__buttonup {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 766.8px) {
  .infosite__buttonup {
    bottom: 30%;
  }
}
@media screen and (min-width: 767.8px) {
  .infosite__buttonup {
    width: 80px;
    height: 80px;
  }
}

.buttonup {
  background-color: var(--color-btnUp);
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
