.socialmedia {
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    max-width: 375px;

    &:before {
        content: "Через социальную сеть";
        left: 0px;
        width: 100%;
        text-align: left;
    }
}

@import "__item/socialmedia__item.scss"