.actions {
    outline: inherit;
    @media screen and (max-width: 459.8px) {
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        right: 0;
        top: 62px;
        z-index: 3;
        background-color: var(--color-bg);
        width: 100vw;
        max-height: calc(100% - 62px);
        transform: translateX(150%);
        transition: transform 0.9s ease-in-out;

    }
    

    @media screen and (min-width: 767.8px) {
        max-width: 320px;
    }

    @media screen and (min-width: 1123.8px) {
        max-width: 310px;
        box-sizing: border-box;    
    }
}

@import "./__list/actions__list.scss";
@import "./__list-item/actions__list-item.scss";
@import "./__signup-link/actions__signup-link.scss";
@import "__sign-in/actions__sign-in.scss";
@import "__sign-in-text/actions__sign-in-text.scss";
@import "./__basket/actions__basket.scss";
@import "./__basket-text/actions__basket-text.scss";
@import "./_visible/actions_visible.scss";
@import "./__basket-svg/actions__basket-svg.scss";
