[data-cart-num="1"] {
  .dish {
    &__info-container {
      @media screen and (min-width: 767.8px) {
        background-color: rgba(117, 117, 117, 0.04);
      }
    }

    &__name-text {
      @media screen and (min-width: 767.8px) {
        height: 27px;
      }
    }

    &__price {
      margin-top: 20px;
      @media screen and (min-width: 767.8px) {
        margin-top: 68px;
      }
    }

    &__products-text {
      font-size: 0.8125rem;
    }
  }
}

.dish {
  display: none;
  justify-content: space-between;
}

@import "__info-container/dish__info-container.scss";
@import "__photo/dish__photo.scss";
@import "__png/dish__photo-png.scss";
@import "__currency/dish__currency.scss";
@import "__name-text/dish__name-text.scss";
@import "__price/dish__price.scss";
@import "__price-text/dish__price-text.scss";
@import "__products-text/dish__products-text.scss";
@import "./_active/dish_active.scss";