@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin-bottom: 39px;
}

.row {
  position: relative;
}

.header {
  height: 73px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 5px 25px #e0e0e0;
}

.header__container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding-right: 11px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 107px;
}
.logo__svg {
  width: 100%;
  height: 15px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 128px;
}

.actions__signup {
  width: 100px;
  margin-right: 10px;
  box-sizing: border-box;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions__signup-link {
  list-style-type: none;
  padding: 5px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #1d1d1d;
}

.actions__sign-in {
  box-sizing: border-box;
  width: 78px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.actions__sign-in-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #1d1d1d;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions__sign-in:hover, .actions__signup:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes background-color {
  100% {
    background-color: #1d1d1d;
  }
}
.actions__sign-in-text:hover, .actions__signup-link:hover {
  animation-name: color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes color {
  100% {
    color: white;
  }
}

.main__signup {
  margin-top: 30px;
}

.signup__title {
  margin: 70px 0 20px 0;
  background-color: #59bd5a;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #ffffff;
  height: 70px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
}

.signup__name-field {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  color: #1d1d1d;
  margin: 0;
  padding: 0;
  display: inline;
}

.signup__list {
  position: relative;
  list-style-type: none;
  margin: 0 0 1rem 0;
  padding: 0;
}
.signup__list .signup__list-item:nth-child(3) .signup__input:focus:valid {
  border: 1px solid green;
}
.signup__list .signup__list-item:nth-child(3) .signup__input:focus:invalid {
  border: 1px solid red;
}
.signup__list .signup__list-item:nth-child(6) .signup__input {
  display: flex;
  align-items: center;
  padding: 10px;
}

.signup__list-item {
  position: relative;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #1d1d1d;
  text-transform: uppercase;
  width: 100%;
  max-width: 300px;
}
.signup__list-item:last-child {
  margin-bottom: 0;
}

.signup__message {
  box-sizing: border-box;
  display: none;
  margin: 0;
  padding: 15px;
  width: 100%;
  max-width: 300px;
  line-height: 1.2;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.1);
}

.signup__message_invisible {
  display: none;
}

.signup__message_visible {
  display: block;
}

.signup__message-title {
  width: 100%;
  text-align: left;
  margin: 0 0 10px 0;
  padding: 0 0 0 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #1d1d1d;
}

.signup__message-item {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 10px;
}
.signup__message-item:last-child {
  margin-bottom: 0px;
}

.signup__message-item_invalid {
  color: red;
}

.signup__message-item_valid {
  color: green;
}

.signup__input {
  position: relative;
  box-sizing: border-box;
  padding: 0 0 0 25px;
  height: 40px;
  width: 100%;
  outline: none;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #1d1d1d;
  border-radius: 10px;
  border: 1px solid gray;
  -webkit-appearance: none;
}
.signup__input:focus {
  border: 1px solid #09C;
}

/*
.fa-eye, .fa-eye-slash,.fa-sort-desc {
    cursor: pointer;
    position: absolute;
    right: 8px;
    bottom: 6px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.4);
}
*/
.signup__label {
  display: block;
  margin: 0 0 5px 0;
}

.signup__select {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 10px;
  height: 40px;
  width: 100%;
  max-width: 375px;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #1d1d1d;
  border-radius: 10px;
  border: 1px solid gray;
  -webkit-appearance: none;
}
.signup__select:focus {
  border: 1px solid #09C;
}

.signup__submit {
  background-color: #59bd5a;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #ffffff;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  margin-bottom: 40px;
}
.signup__submit:hover {
  cursor: pointer;
}

.signup__submit_disabled {
  background-color: #94ba95;
}
.signup__submit_disabled:hover {
  cursor: pointer;
  background-color: #94ba95;
}

.signup__submit_enable {
  background-color: #59bd5a;
}
.signup__submit_enable:hover {
  background-color: blue;
}

.signup__explanation {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #1d1d1d;
  width: 70%;
  max-width: 300px;
}

.signup__agree {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  height: 100%;
  width: 70%;
  max-width: 300px;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #1d1d1d;
}

.signup__error {
  color: red;
  margin: -10px 0 15px 2px;
}

.form__icon_left {
  position: absolute;
  z-index: 1;
  left: 10px;
  bottom: 13px;
}

.form__icon_right {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: 8px;
  bottom: 23px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.2);
}

.socialmedia {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.socialmedia:before {
  position: absolute;
  content: "ИЛИ";
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: gray;
  top: -30px;
  background-color: white;
  width: 50px;
  text-align: center;
}

.socialmedia__item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  flex-basis: 30%;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}
.socialmedia__item:first-child {
  background-color: #3b5998;
}
.socialmedia__item:nth-child(2) {
  background-color: #55acee;
}
.socialmedia__item:last-child {
  background-color: #dd4b39;
}
.socialmedia__item:hover {
  opacity: 0.8;
}

.socialmedia {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  max-width: 375px;
}
.socialmedia:before {
  content: "Через социальную сеть";
  left: 0px;
  width: 100%;
  text-align: left;
}

.socialmedia__item:last-child {
  margin: 0;
}

.footer {
  background-color: #262626;
}

.footer__container {
  box-sizing: border-box;
  padding-top: 55px;
  position: relative;
  padding-bottom: 15px;
}
.footer__container:after {
  content: "";
  position: absolute;
  background-color: #979797;
  width: 96%;
  left: 2%;
  top: 116px;
  height: 1px;
}

.footer__item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #ffffff;
  margin-bottom: 24px;
  list-style-type: none;
  line-height: 15px;
}

.footer__list-ul {
  padding: 0;
  margin: 0;
}

.footer__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 580px;
  position: relative;
}

.social__icons {
  margin-top: 16px;
  display: flex;
  max-width: 96px;
  justify-content: space-between;
  align-items: center;
}

.social__title {
  margin-top: 31px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
}
.social__title:before {
  content: "#";
  color: #49a144;
}

.language {
  position: relative;
  width: 173px;
  height: 40px;
}

.language__arrowDown {
  position: absolute;
  top: 10px;
  right: 5%;
}

.language__select {
  text-indent: 43px;
  padding-top: 2px;
  width: 100%;
  height: 100%;
  background-color: #3b3b3b;
  border: transparent;
  -webkit-appearance: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #ffffff;
}

.language__world {
  position: absolute;
  top: 13px;
  left: 7%;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
  width: 90%;
}

.list__item {
  margin-top: -5px;
  margin-left: -5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.6875rem;
  color: #ffffff;
  line-height: 40px;
  list-style-type: none;
}

.list__item {
  margin-top: -5px;
  margin-left: -5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.6875rem;
  color: #ffffff;
  line-height: 40px;
  list-style-type: none;
}

.shop {
  box-sizing: border-box;
  margin-top: 50px;
  padding-top: 7px;
  position: relative;
  height: 84px;
}
.shop:before {
  content: "";
  position: absolute;
  background-color: #979797;
  width: 100%;
  left: 0%;
  top: -1px;
  height: 1px;
}
.shop:after {
  content: "";
  position: absolute;
  background-color: #979797;
  width: 100%;
  bottom: -1px;
  height: 1px;
}

.shop__appstore {
  width: 108px;
  height: 36px;
}

.shop__googleplay {
  margin-left: 25px;
  width: 124px;
  height: 36px;
}

.shop__png {
  width: 100%;
}

.shop__wrapper {
  height: 69px;
  display: flex;
  max-width: 270px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.infosite {
  position: relative;
  max-width: 100%;
}

.infosite__buttonup {
  width: 80px;
  height: 80px;
}

.infosite__pos {
  margin-left: 8px;
  margin-top: 35px;
}

.infosite__buttonup {
  position: absolute;
  right: 0;
  bottom: 0;
}

.buttonup {
  background-color: #59bd5a;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 320px) {
  .footer__row {
    flex-wrap: wrap;
    max-width: 200px;
  }
  .footer__list-ul {
    margin-top: 33px;
    margin-bottom: -32px;
  }
}
@media screen and (max-width: 767px) {
  .actions {
    width: 176px;
  }
  .actions__basket {
    display: none;
  }

  .list {
    flex-wrap: wrap;
    width: 75%;
  }

  .infosite__buttonup {
    bottom: 30%;
  }
}
@media screen and (min-width: 768px) {
  .card__photo {
    width: 100%;
    height: 256px;
  }

  .header__container {
    padding: 0;
  }

  .actions {
    width: 200px;
  }

  .logo__svg {
    margin: 0;
  }

  .container {
    margin-bottom: 35px;
  }

  .shop:before {
    top: -17px;
    width: 100%;
  }
  .shop:after {
    width: 100%;
    bottom: -20px;
  }
  .shop__wrapper {
    max-width: 295px;
    margin-left: 32%;
  }
  .shop__appstore {
    width: 120px;
  }
  .shop__googleplay {
    width: 135px;
  }

  .infosite__buttonup {
    width: 80px;
    height: 80px;
  }

  .list__item {
    margin-top: 15px;
  }

  .footer__item {
    margin-bottom: 21px;
  }
  .footer__row {
    align-items: baseline;
    margin-top: 65px;
  }
  .footer__container:after {
    width: 100%;
    left: 0;
  }
}
@media screen and (min-width: 1124px) {
  .actions {
    width: 208px;
    box-sizing: border-box;
  }
  .actions__basket {
    margin-right: 15px;
  }

  .logo__svg {
    width: 110%;
  }

  .container {
    margin-bottom: 67px;
  }

  .shop__wrapper {
    margin-left: 35.2%;
  }

  .list {
    width: 800px;
  }

  .footer__row {
    max-width: 715px;
  }

  .language {
    width: 227px;
  }

  .infosite__buttonup {
    right: 0px;
  }

  .social {
    margin-top: 37px;
  }
}
@media screen and (max-width: 320px) {
  .signup__list-item {
    max-width: 240px;
  }
}
@media screen and (min-width: 768px) {
  .socialmedia {
    position: absolute;
    top: 185px;
    right: 30px;
    max-width: 350px;
  }

  .signup__submit {
    margin-bottom: 0px;
  }

  .signup__message {
    box-sizing: border-box;
    position: absolute;
    right: 25px;
    top: 190px;
    width: 100%;
    max-width: 350px;
  }
}
@media screen and (min-width: 992px) {
  .socialmedia {
    right: 280px;
  }

  .signup__message {
    right: 270px;
  }
}
@media screen and (min-width: 1200px) {
  .socialmedia {
    right: 490px;
  }

  .signup__message {
    right: 480px;
  }
}

/*# sourceMappingURL=style.css.map */
