.actions {

  &__sign-in {
    box-sizing: border-box;
    width: 78px;
    height: 40px;
    background-color: $color_white;
    border: 1px solid #e0e0e0;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}
