
.dish{
&__price-text {
    font: 500 0.8125rem var(--font-family);
    color: var(--color-text-title);
    margin: 0;
    line-height: 0.62rem;
    margin-right: 8px;

    @media screen and (min-width: 767.8px) {
      font-size: 0.9375rem;
      margin-right: 3px;
  }

  }
}