.restaurant {
&__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 128px;
    height: 32px;
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;

    @media screen and (min-width: 767.8px) {
      flex-wrap: nowrap;
      width: 330px;
      margin-top: 52px;
    }
    @media screen and (min-width: 1123.8px) {
      margin-left: 10%;
      width: 319px;
    }
  }
}