@media screen and (max-width: 320px) {
  .footer {
    &__row {
      flex-wrap: wrap;
      max-width: 200px;
    }

    &__list-ul {
      margin-top: 33px;
      margin-bottom: -32px;
    }
  }
}
@media screen and (max-width: 767px) {
  .actions {
    width: 76px;

    &__basket {
      display: none;
    }
  }
  .list {
    flex-wrap: wrap;
    width: 75%;
  }

  .infosite {
    &__buttonup {
      bottom: 30%;
    }
  }

}

@media screen and (min-width: 768px) {
  .card {
    &__photo {
      width: 100%;
      height: 256px;
    }
  }

  .header {
    &__container {
      padding: 0;
    }
  }

  .actions {
    width: 120px;
  }

  .logo {
    &__svg {
      margin: 0;
    }
  }

  .container {
    margin-bottom: 35px;
  }

  .shop {
    &:before {
      top: -17px;
      width: 100%;
    }

    &:after {
      width: 100%;
      bottom: -20px;
    }
    &__wrapper {
      max-width: 295px;
      margin-left: 32%;
    }
    &__appstore {
      width: 120px;
    }

    &__googleplay {
      width: 135px;
    }
  }
  .infosite {
    &__buttonup {
      width: 80px;
      height: 80px;
    }
  }
  .list {
    &__item {
      margin-top: 15px;
    }
  }
  .footer {
    &__item {
      margin-bottom: 21px;
    }

    &__row {
      align-items: baseline;
      margin-top: 65px;
    }

    &__container {
      &:after {
        width: 100%;
        left: 0;
      }
    }
  }
}

@media screen and (min-width: 1124px) {
  .actions {
    width: 138px;
    box-sizing: border-box;

    &__basket {
      margin-right: 15px;
    }
  }

  .logo {
    &__svg {
      width: 110%;
    }
  }

  .container {
    margin-bottom: 67px;
  }

  .shop {
    &__wrapper {
      margin-left: 35.2%;

    }
  }
  .list {
    width: 800px;

  }
  
  .footer {
    &__row {
      max-width: 715px;
    }
  }

  .language {
    width: 227px;
  }

  .infosite {
    &__buttonup {
      right: 0px;
    }
  }
  .social {
    margin-top: 37px;
  }
}