.actions {
  &__sign-in, &__signup {
    &:hover {
      animation-name: background-color;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
    }
    @keyframes background-color {
      100% {
        background-color: $color_black;
      }
    }
  }

  &__sign-in-text, &__signup-link {
    &:hover {
      animation-name: color;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
    }

    @keyframes color {
      100% {
        color: white;
      }
    }
  }
}