.header {
  height: 73px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: var(--color-bg);
  box-shadow: 0 5px 25px var(--color-shadow);
}

@import "__container/header__container.scss";