.menu {
&__name-text {
    display: none;
    font: 400 1.375rem var(--font-family);
    color: var(--color-text-title);

    @media screen and (min-width: 767.8px) {
      margin-left: auto;
      margin-right: auto;
      width: 760px;
    }

    @media screen and (min-width: 991.8px) {
      width: 980px;
    }

    @media screen and (min-width: 1123.8px) {
      margin-left: 6.5%;
    }

    @media screen and (min-width: 1199.8px) {
      width: 100%;
      margin: 0;
    }
  }
}

@import "./_active/menu__name-text_active.scss";