.search-form {
  &__input {
    border: {
      color: transparent transparent var(--color-border) transparent;
      width: 1px;
      radius: 0;
    }
    width: 99%;
    -webkit-appearance: none;
    background-color: var(--color-bg);
    color: var(--color-text-subtitle);

    // .search-form__input:invalid
    &:invalid {
      outline: 1px solid red;
    }

    // .search-form__input:valid
    &:valid {
      outline: inherit;
    }

    &::placeholder {
      font: 400 1rem var(--font-family);
      color: var(--color-text-subtitle);
      line-height: 24px;
      display: flex;
      align-items: center;
      mix-blend-mode: normal;
      opacity: 0.5;
    }
  }
}
