.burger {
        display: none;
        border: none;
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        position: relative;
        width: 30px;
        height: 20px;

        &:after, &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color-text-title);
            transition: transform 0.3s ease-in-out;
        }

        &:before {
            top: 0;
        }

        &:after {
            bottom: 0;
        }

        @media screen and (max-width: 459.8px) {
            display: block;
        }
}

@import "./__line/burger__line.scss";
@import "./_active/burger_active.scss";