.signup {
    &__input {
        padding: 0 0 0 10px;
        height: 40px;
        width: 70%;
        max-width: 700px;
        outline: none;
        display: block;
        @include font($font-family, 400, 0.8125rem, $color_black);
        border-radius: 10px;
        border: 1px solid gray;
        &:focus{
            border: 1px solid #09C;
        }
    }

}