.language {
  position: relative;
  width: 173px;
  height: 40px;

  @media screen and (min-width: 1123.8px) {
    width: 227px;
  }
}

@import "__arrowDown/language__arrowDown.scss";
@import "__select/language__select.scss";
@import "__world/language__world.scss";