.title {
  display: flex;
  align-items: center;
  width: 300px;
  &__name {
    position: absolute;
    top: 195px;
    left: 5px;
    font: 400 1.375rem var(--font-family);
    color: var(--color-text-title);
    line-height: 0.64rem;
    position: absolute;
  }
}