.form {
    &__registr{
        @include font($font-family, 500, 0.9rem, $color_white);
        font: 500 0.9rem var(--font-family);
        color: var(--color-textBtn);
        box-sizing: border-box;
        background-color: var(--color-bgGoogle);
        padding: 10px 10px;
        border: none;
        border-radius: 5px;
        &:hover{
            background-color: #59bd5a;
            cursor: pointer;
        }
    }
}