.footer {
 &__container {
    box-sizing: border-box;
    padding-top: 55px;
    position: relative;
    padding-bottom: 15px;

    &:after {
      content: "";
      position: absolute;
      background-color: $color_gray;
      width: 96%;
      left: 2%;
      top: 116px;
      height: 1px;
    }
  }
}