.form {
    &__icon {
        &_right {
            cursor: pointer;
            z-index: 1;
            position: absolute;
            right: 4px;
            bottom: 19px;
            width: 30px;
            height: 30px;
            display: flex !important;
            justify-content: center;
            align-items: center;
            transform: scale(1.2);
            color: #000;

        }
    }
}