.switch {
    box-sizing:border-box;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid var(--color-border);
    margin: 0 10px 0 0;

    

}

@import "./__checkbox/switch__checkbox.scss";
@import "./__slider/switch__slider.scss";
@import "./__text/switch__text.scss";