.signup {
    &__list-item {
        margin-bottom: 1rem;
        @include font($font-family, 500, 0.8125rem, $color_black);
        text-transform: uppercase;
        width: 100%;
        max-width: 375px;

        &:last-child {
        margin-bottom: 0;
    }
    }
}