.signup {
    &__list-item {
        margin-bottom: 1rem;
        @include font($font-family, 500, 0.8125rem, $color_black);
        text-transform: uppercase;

        &:last-child {
        margin-bottom: 0;
    }
       /*

    &:nth-child(3) {
        margin-left: 80px;
    }

    &:nth-child(4) {
        margin-left: 22px;
    }

    &:nth-child(5) {
        margin-left: 105px;
    }*/
    }
}