.form{
    &__submit{
        position: relative;
        font: 400 0.9rem var(--font-family);
        color: var(--color-textBtn);
        display: block;
        box-sizing: border-box;
        background-color: var(--color-btnSubmit);
        padding: 10px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0 30px 0;
        border-radius: 5px;
        border: none;

        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }

        &:after{
            position: absolute;
            content: "";
            bottom: -20px;
            width: 100%;
            height: 1px;
            color: var(--color-line);
            background-color: var(--color-line);
        }
    }
}