.shop {
 &__wrapper {
      height: 69px;
    display: flex;
    max-width: 270px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    @media screen and (min-width: 767.8px) {
      max-width: 295px;
      margin-left: 32%;
    }

    @media screen and (min-width: 1123.8px) {
      margin-left: 35.2%;

    }
    }
}